### Conda environment \/ \/ \/ 
conda create --name ml-in-stego python=3.10 && conda activate ml-in-stego && conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0 && python -m pip install --upgrade pip && python -m pip install numpy==1.23 && python -m pip install tensorflow==2.10 && python -m pip install opencv-python==4.11.0.86 datasets matplotlib ipykernel ipywidgets pytesseract pandas pillow mpi4py pyinstaller hf_xet fastapi==0.104.1 uvicorn[standard]==0.24.0 python-multipart==0.0.6 Pillow==10.1.0 aiofiles==23.2.1 python-dotenv==1.0.0